venv
modelo_beto
.env
__pycache__
.vscode
test.py
model.py
# Checkpoints u otros modelos grandes
*.ckpt
*.bin
*.pt
*.pth

# __pycache__ y artefactos de Python
__pycache__/
*.py[cod]

# Archivos binarios grandes y compilados
*.dll
*.lib
*.pyd
*.exe